---
import { Image } from 'astro:assets';
import Slider from '../components/Slider.astro';
import Layout from '../layouts/Layout.astro';
import AboutImage from "./public/Site/2.jpg";
import CompanySlider from '../components/CompanySlider.astro';
import WhatWeDo from '../components/WhatWeDo.astro';
import CoreLine from '../components/CoreLine.astro';
import mission from '../components/mission.astro';
---

<Layout title="Dwizzy Infra" >
	<section class=" w-full text-black m-0 bg-transparent" >
	<!-- <Slider2/> -->
	<Slider />
</section>

<section class=" w-full text-black m-0 bg-transparent flex mt-10 lg:pt-20 lg:pl-20 lg:pr-20">
	<Image src={AboutImage} inferSize={true} alt="hero" class="w-[30%] rounded-lg hidden lg:block " />
	<div>
		<!-- <h1 class="text-4xl lg:text-6xl font-bold mb-2 pl-4">About Us</h1> -->
		<p class="text-2xl lg:text-xl  pr-6 pl-4">
			At <strong>DWIZZY INFRA</strong>, we take pride in being a trusted name in the construction industry, especially in the heavy civil sector. Our diverse range of services spans from building roads, railways, and metro lines to constructing bridges, handling transmission and distribution work, and laying pile foundations. With a strong commitment to quality and a tradition of excellence, we have become a reliable partner for all your infrastructure needs.
			 
			</p>
		</div>
	</section>
	<div class=" mt-10 mb-10">
		<h1 class="text-4xl font-bold mb-2 p-4 text-center">Our Clients</h1>
		<CompanySlider />
	</div>
	<img src="/Site/5.jpg" alt="hero" class="" />


<section class=" w-full text-black  bg-gray-100   lg:p-10" >
	
	<h1 class="text-center font-bold text-4xl ">Our Services</h1>
	<WhatWeDo/>
	<CoreLine/>
</section>

<section class=" w-full text-black m-0 bg-gray-100  lg:p-20 bg-[url('/Site/6.png')] bg-cover" >
	
	<div class="border-2 border-white   lg:pl-10 lg:pr-10 lg:pb-10 rounded-2xl ">

		<h1 class="text-center font-bold text-4xl p-10 text-primary">Our Mission & Vision</h1>
		<div class="lg:grid grid-cols-2 gap-2">
			<div class=" pl-10 pr-10 bg-gray-200 bg-opacity-50 p-2">
				<h1 class="text-3xl font-bold pt-2 pb-2">Misson</h1>
				<h2 class="text-lg  ">
					Our mission is to provide sustainable construction solutions with modern technology, uphold safety and integrity, build long-term relationships, and support the social and economic development of communities.			</div>
			<div class=" pl-10 pr-10  bg-gray-200 bg-opacity-50 p-2">
				<h1 class="text-3xl font-bold pt-2 pb-2 ">Vision</h1>
				<h2 class="text-lg  ">
					To be a leading construction company in Noida and beyond, delivering high-quality projects that exceed customer expectations and create lasting value.			</h2>
				</div>
				
		</div>
	</div>
</section>

<h1 class="text-2xl font-bold mb-2 pl-20 pr-20 pt-10 pb-10 text-center">"Building a better future, one project at a time – Dwizzy Infra, your trusted partner in excellence and innovation."</h1>
<section class=" w-full text-black   flex items-center justify-center " >
	<button class=" bg-black text-white pl-5 pr-5 rounded-md pt-2 pb-2 flex justify-center items-center text-2xl font-bold ">
		Contact Us
	</button>
</section>

<section class=" w-full text-black p-10  flex items-center justify-center" >

</section>
<!-- <Footer/> -->
</Layout>
