---
import Slider from '../components/Slider.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Title To Be added">
<section class="h-screen w-full text-black m-0 bg-transparent" >
	<Slider />
</section>

<section class="h-screen w-full text-black m-0 bg-transparent" >
	About Company
</section>

<section class="h-screen w-full text-black m-0 bg-transparent" >
	Partner And Info
</section>

<section class="h-screen w-full text-black m-0 bg-transparent" >
	Core Business
</section>

<section class="h-screen w-full text-black m-0 bg-transparent" >
	Final Words
</section>



</Layout>
