---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/modern/Hero.astro";
import About from "../components/modern/About.astro";
import Services from "../components/modern/Services.astro";
import Clients from "../components/modern/Clients.astro";
import CTA from "../components/modern/CTA.astro";
---

<Layout title="Dwizzy Infra:  Construction and Infrastructure Company in India" description="Dwizzy Infra is a trusted infrastructure and construction partner specializing in heavy civil and power transmission projects. We take pride in delivering excellence across roads, bridges, metro lines, monopole erection, pile foundations, and special cage construction.">
	<main>
		<Hero />
		<About />
		<Services />
		<Clients />
		<CTA />
	</main>
</Layout>
