---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/modern/Hero.astro";
import About from "../components/modern/About.astro";
import Services from "../components/modern/Services.astro";
import Clients from "../components/modern/Clients.astro";
import CTA from "../components/modern/CTA.astro";
---

<Layout title="Dwizzy Infra | Building Excellence">
	<main>
		<Hero />
		<About />
		<Services />
		<Clients />
		<CTA />
	</main>
</Layout>
