---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Services  ">
  <main class=" mx-auto px-4 py-8 lg:pl-20 lg:pr-20">
    <h1 class=" text-3xl lg:text-6xl font-bold mb-6">Our Services</h1>
    <div class=" mt-10 mb-10 w-[100%] h-1 bg-primary rounded-lg "></div>

    <div>
        <h1 class="text-4xl font-bold mb-2 p-4 text-left">Power Transmission Erection</h1>
        <div class="flex flex-col md:flex-row gap-8 items-center justify-center ">
            <div class="md:w-1/3 ">
                <Image src="/Canva/PowerErection.webp" alt="Construction site" width={500} height={500} class="rounded-lg shadow-lg w-[300px] h-[400px] object-cover">
                </div>
                <div class="md:w-2/3">
                    <p class="text-lg  mb-4">
                        Dwizzy Infra specializes in complex power transmission erection projects, including the heavy lifting and installation of monopoles across multiple circuits with voltage levels of 66KV, 132KVA, 220KVA, and 400KVA. Using state-of-the-art telescopic cranes, our team expertly handles the challenging task of erecting these structures at heights of up to 75 meters. With a focus on precision and safety, Dwizzy Infra ensures that each project is completed efficiently, meeting the highest industry standards.                    </p>
                    </p>            
                </div>
            </div>
            <div class="line mt-10  w-[100%] h-1 bg-primary rounded-lg "></div>
        </div>

    <div>
        <h1 class="text-4xl font-bold mb-2 p-4 text-right">Pile Foundation Work</h1>
        <div class="flex flex-col md:flex-row gap-8 items-center justify-center">
            <div class="md:w-2/3">
                <p class="text-lg  mb-4">
                    At Dwizzy Infra, we excel in delivering comprehensive pile foundation services for high-capacity power transmission projects. Recently, we undertook the monopole foundation construction for 220 KVA, 132 KVA, and 400 KVA voltage capacities for esteemed clients like Torrent Power, Bajel Projects, and Bajaj Electricals Limited. Our scope of work included the construction of robust 220 KVA monopole tower foundations, along with the supply of high-quality construction materials. The foundation boring was executed with precision, adhering to specifications with diameters ranging from 2200MM to 4500MM, ensuring stability and durability for these critical infrastructure projects.                    <p class="text-lg  mb-4">
                </p>
            </div>
            <div class="md:w-1/3 ">
                <Image src="/Canva/PileFoundation.webp" alt="Construction site" width={500} height={500} class="two rounded-lg shadow-lg w-[300px] h-[400px] object-cover">
                </div>
            </div>
            <div class="line mt-10 w-[100%] h-1 bg-primary rounded-lg "></div>
        </div>
   
    <div>
        <h1 class="text-4xl font-bold mb-2 p-4 text-right">Pile Chipping</h1>
        <div class="flex flex-col md:flex-row gap-8 items-center justify-center">
            <div class="md:w-2/3">
                <p class="text-lg  mb-4">

                    Dwizzy Infra has been entrusted with critical structural works, including pile chipping and removing pile heads, for major infrastructure projects like the Afcons RRTS PKG-06 and L&T Ganga Expressway. Our team is adept at handling pile diameters of 1000MM, 1200MM, and 1500MM, ensuring precision and efficiency in every task. By utilizing advanced techniques and machinery, we ensure that each pile is prepared to meet the stringent requirements of these large-scale projects. With a commitment to quality and safety, Dwizzy Infra plays a vital role in the successful execution of these significant developments.                </p>
            </div>
            <div class="md:w-1/3 ">
                <Image src="/Canva/StructuralWorks.webp" alt="Construction site" width={500} height={500} class="four rounded-lg shadow-lg w-[300px] h-[400px] object-cover">
                </div>
            </div>
            <div class="line mt-10 w-[100%] h-1 bg-primary rounded-lg "></div>
        </div>
    <div>
        <h1 class="text-4xl font-bold mb-2 p-4 text-left">Construction of Pile</h1>
        <div class="flex flex-col md:flex-row gap-8 items-center justify-center">
            <div class="md:w-1/3 ">
                <Image src="/Canva/PileConstruction.webp" alt="Construction site" width={500} height={500} class="five rounded-lg shadow-lg w-[300px] h-[400px] object-cover">
                </div>
                <div class="md:w-2/3">
                    <p class="text-lg  mb-4">
                        Dwizzy Infra specializes in constructing vertical bored piles, utilizing advanced rig machines to ensure precision and stability. Our recent project involved executing this work as directed by the authorized representatives of H.G. Infra, adhering strictly to the provided drawings, geotechnical reports, and technical specifications. With a focus on quality and compliance, we ensure that each pile is constructed to meet the highest standards, contributing to the overall structural integrity of the project. Our expertise in pile construction enables us to deliver reliable foundations for even the most demanding infrastructure developments.                    </p>            
                </div>
            </div>
            <div class="line mt-10  w-[100%] h-1 bg-primary rounded-lg "></div>
        </div>

    <div>
        <h1 class="text-4xl font-bold mb-2 p-4 text-right">Crafting Special Cages</h1>
        <div class="flex flex-col md:flex-row gap-8 items-center justify-center">
            <div class="md:w-2/3">
                <p class="text-lg  mb-4">
                    Renowned for our exceptional craftsmanship, Dwizzy Infra specializes in fabricating robust special cages designed specifically for construction projects. Our cages are meticulously crafted to ensure unmatched durability and compliance with the highest safety protocols. Each cage is tailored to meet the unique demands of the project, providing reliable support and enhancing structural integrity. With a commitment to quality and precision, we deliver solutions that not only meet but exceed industry standards, making us a trusted partner in the successful execution of complex construction endeavors.                </p>
            </div>
            <div class="md:w-1/3 ">
                <Image src="/Canva/SpecialCage.webp" alt="Construction site" width={500} height={500} class="six rounded-lg shadow-lg w-[300px] h-[400px] object-cover">
                </div>
            </div>
        </div>


        </main>
    </Layout>
    
    <script>
  import gsap from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);
  if ( window.innerWidth >= 1024) {

  gsap.from(".two", {
    x: 100,
    opacity: 0,
    duration: 1,
    stagger: 0.2,
    scrollTrigger: {
      trigger: ".two",
      start: "top bottom",
      end: "bottom bottom",
    },
    scrub: true,
    markers: true,
  });
  gsap.from(".three", {
    x: -100,
    opacity: 0,
    duration: 1,
    stagger: 0.2,
    scrollTrigger: {
      trigger: ".three",
      start: "top bottom",
      end: "bottom bottom",
    },
    scrub: true,
    markers: true,
  });
  gsap.from(".four", {
    x: 100,
    opacity: 0,
    duration: 1,
    stagger: 0.2,
    scrollTrigger: {
      trigger: ".four",
      start: "top bottom",
      end: "bottom bottom",
    },
    scrub: true,
    markers: true,
  });
  gsap.from(".five", {
    x: -100,
    opacity: 0,
    duration: 1,
    stagger: 0.2,
    scrollTrigger: {
      trigger: ".five",
      start: "top bottom",
      end: "bottom bottom",
    },
    scrub: true,
    markers: true,
  });
  gsap.from(".six", {
    x: 100,
    opacity: 0,
    duration: 1,
    stagger: 0.2,
    scrollTrigger: {
      trigger: ".six",
      start: "top bottom",
      end: "bottom bottom",
    },
    scrub: true,
    markers: true,
  });
  }

</script>
