<div class="w-full overflow-hidden bg-gray-100 py-10">
    <div class="relative flex animate-scroll">
      <div class="flex space-x-16 mx-8 logo-slide">
        <img src="/Partners/Bajaj.webp" alt="Bajaj" class="w-auto h-[60px]">
            <img src="/Partners/bajel.webp" alt="bajel" class="w-auto h-[60px]">
            <img src="/Partners/Afcons.webp" alt="Afcons" class="w-auto h-[60px]">
            <img src="/Partners/Hgiel.webp" alt="Hgiel" class="w-auto h-[60px]">
            <img src="/Partners/HP.webp" alt="HP" class="w-auto h-[60px]">
            <img src="/Partners/LT.webp" alt="LT" class="w-auto h-[60px]">
            <img src="/Partners/NCC.webp" alt="NCC" class="w-auto h-[60px]">
            </div>
      <div class="flex space-x-16 mx-8 logo-slide">
        <img src="/Partners/Bajaj.webp" alt="Bajaj" class="w-auto h-[60px]">
            <img src="/Partners/bajel.webp" alt="bajel" class="w-auto h-[60px]">
            <img src="/Partners/Afcons.webp" alt="Afcons" class="w-auto h-[60px]">
            <img src="/Partners/Hgiel.webp" alt="Hgiel" class="w-auto h-[60px]">
            <img src="/Partners/HP.webp" alt="HP" class="w-auto h-[60px]">
            <img src="/Partners/LT.webp" alt="LT" class="w-auto h-[60px]">
            <img src="/Partners/NCC.webp" alt="NCC" class="w-auto h-[60px]">
            </div>
    </div>
  </div>
  
  <style>
    .animate-scroll {
      animation: scroll 40s linear infinite;
    }
    .animate-scroll:hover {
      animation-play-state: paused;
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(calc(-100% - 4rem));
      }
    }
    .logo-slide {
      flex: 0 0 auto;
    }
    @media (min-width: 768px) {
      .animate-scroll::before,
      .animate-scroll::after {
        content: "";
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        z-index: 2;
      }
      .animate-scroll::before {
        left: 0;
        /* background: linear-gradient(to right, rgba(243, 244, 246, 1), rgba(243, 244, 246, 0)); */
      }
      .animate-scroll::after {
        right: 0;
        /* background: linear-gradient(to left, rgba(243, 244, 246, 1), rgba(243, 244, 246, 0)); */
      }
    }
  </style>
  
  <script>
      function adjustLogoSlider() {
        const slider = document.querySelector('.animate-scroll');
        const slides = Array.from(document.querySelectorAll('.logo-slide')) as HTMLElement[];
        const totalWidth = slides.reduce((sum, slide) => sum + slide.offsetWidth, 0);
      
        if (totalWidth < window.innerWidth && slider !== null) {
          const repeats = Math.ceil(window.innerWidth / totalWidth) + 1;
          slider.innerHTML = slider.innerHTML.repeat(repeats);
        }
      }
    
      window.addEventListener('load', adjustLogoSlider);
      window.addEventListener('resize', adjustLogoSlider);
    </script>