<div class="trigger2 w-full bg-black grid grid-cols-3 justify-center items-center text-white text-3xl">
    <div class="one flex justify-center items-center">
      2002
    </div>
    <div class="flex justify-center items-center">
      hi1
    </div>
    <div class="flex justify-center items-center">
      hi2
    </div>
  </div>
