---
interface Props {
 image: string;
 alt: string;
}
const { image,alt } = Astro.props;

---

<div class="flex p-1 w-[250px]" >
   <img src={image} alt={alt} class="object-contain">  
</div>