---
import { Image } from "astro:assets";
---
<div class="lg:grid grid-cols-3 text-center gap-1 p-1 mt-10 ">
  <div class=" p-2 text-black flex flex-col items-center justify-center group hover:cursor-pointer">
    
      <Image src="/Canva/what_we_do1.webp" alt="what" width={100} height={100} class="ico object-center"/>
      <div class="textClass opacity-0 text-2xl font-bold">
        
        <h1 >Power Transmission</h1>
        <h2 class="text-primary font-medium text-[15px]">Foundation, Erection & Stringing work,Transmission line on Monopole structures</h2>
      </div>
    </div>

  <div class=" p-2 text-black flex flex-col items-center justify-center group hover:cursor-pointer">
    
    <Image src="/Canva/what_we_do2.webp" alt="what" width={100} height={100} class="ico object-center"/>
    <div class="textClass opacity-0 text-2xl font-bold">

      <h1 >FOUNDATIONS JOBS</h1>
      <h2 class="text-primary font-medium text-[15px]">
        Pile foundation Jobs and Ground Improvement engineering jobs)</h2>
    </div>
  </div>

  <div class=" p-2 text-black flex flex-col items-center justify-center group hover:cursor-pointer">
    
    <Image src="/Canva/what_we_do3.webp" alt="what" width={100} height={100} class="ico object-center"/>
    <div class="textClass opacity-0 text-2xl font-bold">

      <h1 >PILE LOAD</h1>
      <h2 class="text-primary font-medium text-[15px]">Testing job : Static and Dynamic Testing jobs</h2>
    </div>
  </div>

</div>

<div class="lg:grid grid-cols-2 text-center gap-1 p-1 ">

  <div class=" p-2 text-black flex flex-col items-center justify-center group hover:cursor-pointer">
    
    <Image src="/Canva/what_we_do4.webp" alt="what" width={100} height={100} class="ico object-center"/>
    <div class="textClass opacity-0 text-2xl font-bold">

      <h1 >ERECTION WORK</h1>
      <h2 class="text-primary font-medium text-[15px]">Erection of Power Transmission Monopoles & lattice Tower, NBT towers, I Girder, and Stringing work etc.</h2>
    </div>
  </div>


    <div class=" p-2 text-black flex flex-col items-center justify-center group hover:cursor-pointer">
    
    <Image src="/Canva/what_we_do5.webp" alt="what" width={150} height={150} class="ico object-center"/>
    <div class="textClass opacity-0 text-2xl font-bold">

      <h1 >HEAVY CIVIL WORK</h1>
      <h2 class="text-primary font-medium text-[15px]">All Heavy civil structural works</h2>
    </div>
  </div>

  <script>
    import gsap from "gsap";
  
    document.querySelectorAll('.group').forEach(group => {
      group.addEventListener('mouseenter', () => {
        gsap.to(group.querySelector('.ico'), { y: -30, duration: 0.3 });
        gsap.to(group.querySelector('.textClass'), { y: -20, opacity: 1, duration: 0.3 });
      });
      group.addEventListener('mouseleave', () => {
        gsap.to(group.querySelector('.ico'), { y: 0, duration: 0.3 });
        gsap.to(group.querySelector('.textClass'), { y: 0, opacity: 0, duration: 0.3 });
      });
    });