---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="m-0 font-sans bg-gradient-to-b from-white to-blue-100 min-h-screen flex flex-col">
		<Navbar/>
		<slot />
	</body>
</html>

